<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>¿Quién es el futbolista?</title>
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <script src="http://cdn.jsdelivr.net/vue/1.0.17/vue.min.js"></script>
  <script src="http://cdn.jsdelivr.net/momentjs/2.11.2/moment.min.js"></script>
  </head>
<body>
  <div class="container-fluid" id="app">
    <div class="cont col-xs-12 col-lg-4 col-lg-offset-4 text-center">
    <section id="header">
      <h1>¿Quién es el futbolista? v0.1</h1>
    </section>
    <section id="resultado">
      <div>
      <ul>
        <li>Aciertos: {{puntos}} de {{ futbolistas.length }}</li>
        <li>Tiempo: {{tiempo}}</li>
        <li>Velocidad: {{velocidad}} <br>(resp. x min.)</li>
        <li v-if="terminado"><h1>Resultado: {{resultado}}</h1><h4>(aciertos x velocidad)</li>
      </ul>
      </div>
    </section>
    <section id="imagen" v-if="!terminado">
      <div id="imgcont" v-bind:class="{ 'juego': en_juego }"><span v-if='!en_juego'>?</span></div>
      <button class="btn btn-default" v-if="opciones == null" v-on:click="empezar">Empezar</button>
    </section>
    <section id="botones" v-if="opciones != null">
        <botones :opciones="opciones" ></botones>
    </section>
    </div>
    <div class="col-xs-12 col-lg-4 col-lg-offset-4 text-center">
      Ilustración: <a href="http://twitter.com/LonchoMambo22">@LonchoMambo22</a><br>
      Desarrollo: <a href="http://twitter.com/ateszki">@ateszki</a>

    </div>
  </div>
<script src="js/app.js"></script>
  
</body>
</html>
